<div class="right-side">
  <p>Status:</p>
  <select [(ngModel)]="ownerData.status" required>
    <option value="New">New</option>
    <option value="InProgress">In Progress</option>
    <option value="Resolved">Resolved</option>
    <option value="Finished">Finished</option>
  </select>
</div>

<div class="owner-details-container">
  <div class="left-side">
    <p>Property Owner Name: <input type="text" [(ngModel)]="ownerData.ownerName" required></p>
    <p>Property Owner Id: <input type="text" [(ngModel)]="ownerData.ownerId" required></p>
    <p>Property Location: <input type="text" [(ngModel)]="ownerData.propertyLocation" required></p>
  </div>
  <div class="right-side">
    <p>Created By: <input type="text" [(ngModel)]="ownerData.createdBy" required></p>
    <p>Created Date and Time: {{ ownerData.createdDate | date:'longDate' }} {{ ownerData.createdDate | date:'mediumTime' }}</p>
    <p>Assigned To: <input type="text" [(ngModel)]="ownerData.assignedTo" required></p>
  </div>
</div>

<form (submit)="onSubmit()" class="description">
  <label for="w3review">Description</label>
  <textarea rows="7" cols="100" [(ngModel)]="ownerData.description" required></textarea>
</form>

<form (submit)="onSubmit()" enctype="multipart/form-data" class="attach" novalidate>
  <label for="fileInput"><h2>Attachments:</h2></label>
  <input type="file" id="fileInput" name="files" multiple required>
  <button type="submit" class="btn-primary">Update</button>
</form>
