

.container {
  display: flex;
  width: 100%; 
  justify-content: center; 
  align-items: center; 
}

.left-panel {
  flex: 1;
  padding: 20px;
  background-color: #f2f2f2;
}

.main-content {
  flex: 3;
  padding: 20px;
}

.table-container {
  margin: 0 auto; 
  width: 60%; 
}
.table {
  width: 100%; 
  border-collapse: collapse;
  color: black;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.table th {
  background-color: #ffffff;
  color: #333;
}



.btn {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btn-secondary {
  background-color: #197a36;
  color: #fff;
  border: none;
}

.btn-primary:hover,
.btn-secondary:hover {
  opacity: 0.8;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.search-container input[type="text"] {
  padding: 6px;
  width: 450px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.btn-dark{
background-color: #39519a;
padding: 6px;
border-radius: 5px;
font-size: 16px;
}
